<!-- BUTTON -->
            <!-- <button>
                <a class="removebutton" href="#" id="remove{{u.user.id}}" data-catid="{{u.user.id}}">
                    Rescind
                </a>
            </button> -->



<!-- SCRIPT TO RESCIND -->


<!-- <script type="text/javascript">
$('.removebutton').click(function(){
var catid;
catid = $(this).attr("data-catid");
$.ajax(
{
    type:"GET",
    url: "/removepost",
    data:{
            post_id: catid
    },
    success: function( data ) 
    {
        $( '#remove'+ catid ).remove();
        $( '#message' ).text(data);
    }
})
});


</script> -->