<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMaps</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% include 'base.html' %}


   


    <style>
        .large-card {
            background-color: #f8fbff;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /
        }
        .add-event-link {
        display: block;
        text-align: center;
        color: #28a745;
        font-weight: bold;
        margin-top: 15px;
        text-decoration: none;
    }


    .add-event-link i {
        margin-right: 5px;
        font-size: 1.2em;
    }
    .details-button {
        background-color: #04246b;
        border-color: #04246b;
        border-radius: 4px;
        color: #ffffff;
        margin: 0;
    }
    .details-button:hover {
        background-color: #3a2ec0;
        border-color: #3a2ec0;
    }
    .org-name {
            font-size: .75rem;
            margin-top: -8px;
            display: block;
       
    }
   


.card-body {
    position: relative;
}


.saveEvent {
    position: absolute;
    top: 15px;  
    right: 15px;
    scale: 150%;
    z-index: 1;


}


.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 50px;
}


    </style>


</head>


<body>
    
    <div class="mobile-view">
    {% load socialaccount %}
    <div class="container mt-4">
        {% if user.is_authenticated %}
       
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#savedEventsTab" data-toggle="tab">Saved Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#popularEventsTab" data-toggle="tab">Popular Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#myEventsTab" data-toggle="tab">My Events</a>
            </li>
        </ul>


        <!-- Tab Content -->
        <div class="tab-content">
            <!-- Saved Events Tab -->
            <div class="tab-pane active" id="savedEventsTab">
                <br>
                   <!-- Larger Card for Bookmarked Events -->
            <div class="col-md-4 mb-4">
                <div class="card large-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4"><b style="font-size: 20px;">Saved Events - {{ bookmarked_events|length }}</b></h3>
                        <p class="conditional-text">Events that you have bookmarked.</p>

                        {% if bookmarked_events|length == 0 %}
                        
                <p class="text-center no-events">No Events Found</p>
            {% else %}
                        {% for event in bookmarked_events%}
                            <div class="card mb-4">
                                <div class="card-body">
                                    {% if is_member %}
                  <a href="javascript:void(0);" onclick="UpdateStatus('{{event.id}}'); event.stopPropagation();" class="saveEvent float-right" id="save{{event.id}}" data-catid="{{event.id}}">
                    {% if member in event.interested_members.all %}
                    <i class="fa fa-bookmark-o" style="scale: 120%" aria-hidden="true" id="bookmark{{event.id}}"></i>
                    {% else %}
                    <i class="fa fa-bookmark" style="scale: 120%" aria-hidden="true" id="bookmark{{event.id}}"></i>
                    {% endif %}
                  </a>
                  {% endif %}
                                    <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>
                                    <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                    <p class="event-tag card-title" data-category="{{event.category}}">
                                        {% if event.category == "UV" %}
                                            UVA
                                        {% elif event.category == "CO" %}
                                            CIO
                                        {% elif event.category == "SP" %}
                                            Sports
                                        {% elif event.category == "CR" %}
                                            Career
                                        {% elif event.category == "SC" %}
                                            Social
                                        {% elif event.category == "FD" %}
                                            Food
                                        {% else %}
                                            Other
                                        {% endif %}
                                    </p>
                                    <h5 class="card-text">{{ event.description }}</h5>
                                    <br>
                                 


                                    <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                    {% if event.all_day %}
                                        <h5 class="card-text">Time: All day</h5>
                                    {% else %}
                                        <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                    {% endif %}
                                    <br>


                                    <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                    {% if event.room_number %}
                                    <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                    {% endif %}
                                    <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">


                                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
                                        <div class="interested-container"> 
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interested{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                    <a href="/events/{{event.id}}" class="btn btn-primary details-button"');">Details</a>
                                    <!-- <a href="/map-page#event{{ event.id }}" class="btn btn-primary" onclick="showMarker('{{ event.id }}');">See on Map</a> -->
                                </div>
                                </div>  
                            </div>
                        {% endfor %}
                        {% endif %}
                       
                    </div>
                </div>
            </div>


            </div>


            <!-- Popular Events Tab -->
            <div class="tab-pane" id="popularEventsTab">
                <br>
                <!-- Larger Card for Popular Events -->
                <div class="col-md-4 mb-4">
                    <div class="card large-card">
                        <div class="card-body">
                            <h3 class="text-center mb-4">
                              <b style="font-size: 20px;">
                                Popular Events
                              </b></h3>
                              <p class="conditional-text">Events that are popular right now.</p>

                            {% for event in recommended_events|slice:":5" %}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        {% if is_member %}
                                        <a href="javascript:void(0);" onclick="UpdateStatus('{{event.id}}'); event.stopPropagation();" class="saveEvent float-right" id="save{{event.id}}" data-catid="{{event.id}}">
                                          {% if member in event.interested_members.all %}
                                          <i class="fa fa-bookmark" style="scale: 120%" aria-hidden="true" id="bookmark{{event.id}}"></i>
                                          {% else %}
                                          <i class="fa fa-bookmark-o" style="scale: 120%" aria-hidden="true" id="bookmark{{event.id}}"></i>
                                          {% endif %}
                                        </a>
                                        {% endif %}
                                        <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>
                                        <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                        <p class="event-tag" data-category="{{event.category}}">
                                            {% if event.category == "UV" %}
                                                UVA
                                            {% elif event.category == "CO" %}
                                                CIO
                                            {% elif event.category == "SP" %}
                                                Sports
                                            {% elif event.category == "CR" %}
                                                Career
                                            {% elif event.category == "SC" %}
                                                Social
                                            {% elif event.category == "FD" %}
                                                Food
                                            {% else %}
                                                Other
                                            {% endif %}
                                        </p>
                                        <h5 class="card-text">{{ event.description }}</h5>
                                        <br>
                                     
                                        <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                        {% if event.all_day %}
                                            <h5 class="card-text">Time: All day</h5>
                                        {% else %}
                                            <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                        {% endif %}
                                        <br>
   
                                        <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                        {% if event.room_number %}
                                        <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                        {% endif %}
                                        <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">
   
                                        <!-- New 'See on Map' Button -->
                                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
                                            <div class="interested-container">
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interested{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                        <a href="/events/{{event.id}}" class="btn btn-primary details-button"');">Details</a>
                                        <!-- <a href="/map-page#event{{ event.id }}" class="btn btn-primary" onclick="showMarker('{{ event.id }}');">See on Map</a> -->
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>  


            <!-- My Events Tab -->
            <div class="tab-pane" id="myEventsTab">
                <br>
                <div class="col-md-4 mb-4">
                    <div class="card large-card">
                        <div class="card-body">
                            <h3 class="text-center mb-4"><b style="font-size: 20px;">My Events - {{ future_events|length }}</b></h3>
                            {% if is_member %}
                            <p class="conditional-text">Events you created. As an individual, your events will be private.</p>
                            {% else %}
                            <p class="conditional-text">Create an event for your organization.</p>
                        {% endif %}
                            {% if future_events|length == 0 %}
                    <p class="text-center">No Events Found</p>
                {% else %}
                            {% for event in future_events %}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        
                                        <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>
   
   
                                        <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                        <p class="event-tag" data-category="{{event.category}}">
                                            {% if event.category == "UV" %}
                                                UVA
                                            {% elif event.category == "CO" %}
                                                CIO
                                            {% elif event.category == "SP" %}
                                                Sports
                                            {% elif event.category == "CR" %}
                                                Career
                                            {% elif event.category == "SC" %}
                                                Social
                                            {% elif event.category == "FD" %}
                                                Food
                                            {% else %}
                                                Other
                                            {% endif %}
                                        </p>
                                        <h5 class="card-text">{{ event.description }}</h5>
                                        <br>
                                        <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                        {% if event.all_day %}
                                            <h5 class="card-text">Time: All day</h5>
                                        {% else %}
                                            <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                        {% endif %}
                                        <br>
                                        <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                        {% if event.room_number %}
                                        <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                        {% endif %}
                                        <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">
                                        <         <!-- New 'See on Map' Button -->
                                        <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
                                            <div class="interested-container">
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interested{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                        <a href="/events/{{event.id}}" class="btn btn-primary details-button"');">Details</a>
                                        <!-- <a href="/map-page#event{{ event.id }}" class="btn btn-primary" onclick="showMarker('{{ event.id }}');">See on Map</a> -->
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                            <a href="/create-event" class="add-event-link">
                                <i class="fas fa-plus-circle"></i> Add Event
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</div>


<div class="desktop-view">


    {% load socialaccount %}
         
    <div class="container mt-4">
        {% if user.is_authenticated %}
        <div class="row">


            <!-- Larger Card for Bookmarked Events -->
            <div class="col-md-4 mb-4">
                <div class="card large-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4"><b style="font-size: 20px;">Saved Events - {{ bookmarked_events|length }}</b></h3>
                        <p class="conditional-text">Events that you have bookmarked.</p>
                        {% if bookmarked_events|length == 0 %}
                <p class="text-center">No Events Found</p>
            {% else %}
                        {% for event in bookmarked_events %}
                            <div class="card mb-4">
                                <div class="card-body">
                                   
                                    {% if is_member %}
                                    <a href="javascript:void(0);" onclick="UpdateStatusDesktop('{{event.id}}'); event.stopPropagation();" class="saveEvent float-right" id="save{{event.id}}" data-catid="{{event.id}}">
                                      {% if member in event.interested_members.all %}
                                      <i class="fa fa-bookmark" style="scale: 120%" aria-hidden="true" id="bookmarkdesktop{{event.id}}"></i>
                                      {% else %}
                                      <i class="fa fa-bookmark" style="scale: 120%" aria-hidden="true" id="bookmarkdesktop{{event.id}}"></i>
                                      {% endif %}
                                    </a>
                                    {% endif %}
                                    <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>
                                    <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                    <p class="event-tag" data-category="{{event.category}}">
                                        {% if event.category == "UV" %}
                                            UVA
                                        {% elif event.category == "CO" %}
                                            CIO
                                        {% elif event.category == "SP" %}
                                            Sports
                                        {% elif event.category == "CR" %}
                                            Career
                                        {% elif event.category == "SC" %}
                                            Social
                                        {% elif event.category == "FD" %}
                                            Food
                                        {% else %}
                                            Other
                                        {% endif %}
                                    </p>
                                    <h5 class="card-text">{{ event.description }}</h5>
                                    <br>
                                 


                                    <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                    {% if event.all_day %}
                                        <h5 class="card-text">Time: All day</h5>
                                    {% else %}
                                        <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                    {% endif %}
                                    <br>


                                    <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                    {% if event.room_number %}
                                    <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                    {% endif %}
                                    <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">


                                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
                                        <div class="interested-container">
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interesteddesktop{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                    <a href="/events/{{event.id}}" class="btn btn-primary details-button"');">Details</a>
                                    <!-- <a href="/map-page#event{{ event.id }}" class="btn btn-primary" onclick="showMarker('{{ event.id }}');">See on Map</a> -->
                                </div>
                                </div>  
                            </div>
                        {% endfor %}
                        {% endif %}
                       
                    </div>
                </div>
            </div>


            <!-- Larger Card for Popular Events -->
            <div class="col-md-4 mb-4">
                <div class="card large-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4">
                          <b style="font-size: 20px;">
                            Popular Events
                          </b></h3>
                          <p class="conditional-text">Events that are popular right now.</p>
                        {% for event in recommended_events|slice:":5" %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    {% if is_member %}
                                    <a href="javascript:void(0);" onclick="UpdateStatusDesktop('{{event.id}}'); event.stopPropagation();" class="saveEvent float-right" id="save{{event.id}}" data-catid="{{event.id}}">
                                      {% if member in event.interested_members.all %}
                                      <i class="fa fa-bookmark" style="scale: 120%" aria-hidden="true" id="bookmarkdesktop{{event.id}}"></i>
                                      {% else %}
                                      <i class="fa fa-bookmark-o" style="scale: 120%" aria-hidden="true" id="bookmarkdesktop{{event.id}}"></i>
                                      {% endif %}
                                    </a>
                                    {% endif %}
                                    <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>
                                    <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                    <p class="event-tag" data-category="{{event.category}}">
                                        {% if event.category == "UV" %}
                                            UVA
                                        {% elif event.category == "CO" %}
                                            CIO
                                        {% elif event.category == "SP" %}
                                            Sports
                                        {% elif event.category == "CR" %}
                                            Career
                                        {% elif event.category == "SC" %}
                                            Social
                                        {% elif event.category == "FD" %}
                                            Food
                                        {% else %}
                                            Other
                                        {% endif %}
                                    </p>
                                    <h5 class="card-text">{{ event.description }}</h5>
                                    <br>
                                 
                                    <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                    {% if event.all_day %}
                                        <h5 class="card-text">Time: All day</h5>
                                    {% else %}
                                        <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                    {% endif %}
                                    <br>


                                    <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                    {% if event.room_number %}
                                    <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                    {% endif %}
                                    <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">


                                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
                                        <div class="interested-container">
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interesteddesktop{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                    <a href="/events/{{event.id}}" class="btn btn-primary details-button"');">Details</a>
                                    <!-- <a href="/map-page#event{{ event.id }}" class="btn btn-primary" onclick="showMarker('{{ event.id }}');">See on Map</a> -->
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card large-card">
                    <div class="card-body">
                        <h3 class="text-center mb-4"><b style="font-size: 20px;">My Events - {{ future_events|length }}</b></h3>
                        {% if is_member %}
                        <p class="conditional-text">Events you created. As an individual, your events will be private.</p>
                       
                    {% else %}
                        <p class="conditional-text">Create an event for your organization.</p>
                    {% endif %}
                        {% if future_events|length == 0 %}
                <p class="text-center">No Events Found</p>
            {% else %}
                        {% for event in future_events %}
                            <div class="card mb-4">
                                <div class="card-body">
                                   
                                    <h5 class="card-title font-weight-bold">{{ event.event_name }}</h5>




                                    <h5 class="card-title org-name">{{ event.getOrganizerName }}</h5>
                                    <p class="event-tag" data-category="{{event.category}}">
                                        {% if event.category == "UV" %}
                                            UVA
                                        {% elif event.category == "CO" %}
                                            CIO
                                        {% elif event.category == "SP" %}
                                            Sports
                                        {% elif event.category == "CR" %}
                                            Career
                                        {% elif event.category == "SC" %}
                                            Social
                                        {% elif event.category == "FD" %}
                                            Food
                                        {% else %}
                                            Other
                                        {% endif %}
                                    </p>
                                    <h5 class="card-text">{{ event.description }}</h5>
                                    <br>
                                    <h5 class="card-text">Date: {{ event.end_time.date }}</h5>
                                    {% if event.all_day %}
                                        <h5 class="card-text">Time: All day</h5>
                                    {% else %}
                                        <h5 class="card-text">Time: {{ event.start_time.time }} - {{event.end_time.time}}</h5>
                                    {% endif %}
                                    <br>
                                    <h5 class="card-text"><em>Location: {{ event.address }}</em></h5>
                                        {% if event.room_number %}
                                        <h5 class="card-text">Room Number: {{ event.room_number }}</h5>
                                        {% endif %}
                                    <hr style="border-top: 1px solid #d3d3d3; margin-top: 20px;">
                                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;"> 
                                        <div class="interested-container">
                                            <i class="fa fa-users mr-1" aria-hidden="true"></i>
                                            <div id="interesteddesktop{{event.id}}" class="interested-count" value="{{event.getIMCount}} ">
                                                <span>{{ event.getIMCount }} Interested</span>
                                        </div>
                                    </div>
                                        <div>
                                            <a href="/edit-event/{{ event.id }}" class="btn btn-primary">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        <a href="/create-event" class="add-event-link">
                            <i class="fas fa-plus-circle"></i> Add Event
                        </a>
                    </div>
                </div>
            </div>


        </div>
        {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>
    function adjustTabFontSize() {
        var screenWidth = window.innerWidth;
        var numTabs = document.querySelectorAll('.nav-tabs .nav-item').length;
        var minFontSize = 0;
        var maxFontSize = 1000;
        var calculatedFontSize = Math.max(Math.min(screenWidth / numTabs / 10, maxFontSize), minFontSize);
   
        var tabLinks = document.querySelectorAll('.nav-tabs .nav-link');
        tabLinks.forEach(function(link) {
            link.style.fontSize = calculatedFontSize + 'px';
        });
    }
   
    window.onload = adjustTabFontSize;
    window.onresize = adjustTabFontSize;
    </script>
    <script>
        function UpdateStatusDesktop(id_val){
            event.stopPropagation();
            $.ajax({
                    type:"GET",//or POST
                    url:'/saveevent',
                    data:{
                      post_id:id_val
                    },
                    success:function(responsedata){
                      // $(this).toggleClass("active");
                      var ele = document.getElementById("bookmarkdesktop" + id_val);
                      var interest_ele = document.getElementById("interesteddesktop" + id_val);
                      console.log(interest_ele.getAttribute("value"))

                      if (responsedata == "added") {
                        ele.setAttribute("class", "fa fa-bookmark");
                        var sum = parseInt(interest_ele.getAttribute("value")) + 1;
                        interest_ele.innerHTML = sum.toString() + " Interested";
                        interest_ele.setAttribute("value", sum);
                       
                      } else {
                        ele.setAttribute("class", "fa fa-bookmark-o");
                        var sum = parseInt(interest_ele.getAttribute("value")) - 1;
                        interest_ele.innerHTML = sum.toString() + " Interested";
                        interest_ele.setAttribute("value", sum);
                      }
                    }
                })
        }
        
        function UpdateStatus(id_val){
              event.stopPropagation();
              $.ajax({
                      type:"GET",//or POST
                      url:'/saveevent',
                      data:{
                        post_id:id_val
                      },
                      success:function(responsedata){
                        // $(this).toggleClass("active");
                        var ele = document.getElementById("bookmark" + id_val);
                        var interest_ele = document.getElementById("interested" + id_val);
                       
                        if (responsedata == "added") {
                          ele.setAttribute("class", "fa fa-bookmark");
                          var sum = parseInt(interest_ele.getAttribute("value")) + 1;
                          interest_ele.innerHTML = sum.toString() + " Interested";
                          interest_ele.setAttribute("value", sum);
                         
                        } else {
                          ele.setAttribute("class", "fa fa-bookmark-o");
                          var sum = parseInt(interest_ele.getAttribute("value")) - 1;
                          interest_ele.innerHTML = sum.toString() + " Interested";
                          interest_ele.setAttribute("value", sum);
                        }
                      }
                  })
          }
         
        </script>
<!-- <script>
   
      document.addEventListener('DOMContentLoaded', (event) => {
  const eventId = window.location.hash.substring(1); // Gets the hash from URL (removing '#')
  if (eventId) {
    showMarker(eventId);
  }
});




function showMarker(eventId) {
    console.log("showMarker called with eventId:", eventId);
    google.maps.event.trigger(markerDict[eventId], 'click');
    map.setZoom(18); // Set zoom level
}
</script> -->
<style>
    .interested-container {
    display: flex;
    align-items: center;
}

.interested-count {
    margin-left: 5px; 
}

    .event-tag {
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 20px;
  }
 
  .event-tag[data-category="UV"] { background-color: #ff914d; }
  .event-tag[data-category="CO"] { background-color: #ff3131; }
  .event-tag[data-category="SP"] { background-color: #5271ff; }
  .event-tag[data-category="CR"] { background-color: #00bf63; }
  .event-tag[data-category="SC"] { background-color: #8c52ff; }
  .event-tag[data-category="FD"] { background-color: #31e1ff; }
  .event-tag[data-category="OT"] { background-color: #a6a6a6; }
 
      .conditional-text {
      color: #336699;
      margin-top: -20px;
      margin-bottom: 15px;
      text-align: center;
  }
 
  @media (max-width: 768px) {
      .desktop-view {
          display: none;
      }
      .mobile-view {
          display: block;
      }
  }
 
  @media (min-width: 769px) {
      .desktop-view {
          display: block;
      }
      .mobile-view {
          display: none;
      }
  }
 
  .nav-tabs {
      display: flex;
      justify-content: center;
  }
 
  .nav-tabs .nav-item {
      flex-grow: 1;
      text-align: center;
  }
 
 
  </style>


          
</body>










       
</html>


{% include 'footer.html' %}



