<!DOCTYPE html>
{% include 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMaps</title>
    <style>
    </style>
</head>
<body>    
    <img src="{{ org.org_image.url }}" height="100px" width="100px">

<h3>
    {{ org.name }} Event List:
</h3>

<ul>
{% for event in events %}
<li>
    {{ event.event_name }}
    <button>
        <a href="/edit-event/{{event.id}}">Edit Event</a>
    </button>

    <button>
        <a href="/delete-event/{{event.id}}">Delete Event</a>
    </button>
    
    
</li>
{% endfor %}
</ul>

<button>
    <a href="create-event">Create New Event</a>
</button>

</body>
</html>
{% include 'footer.html' %}

